body {
  background-color: #FFF4E0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 100vh bulundugun yerin yüksekliğini kapla demek */
  height: 100vh;
}

.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #393E46;
  font-weight: bold;
}

.seat {
  font-size: 40px;
  margin-right: 8px;
  color:#00ADB5;
}

/*koltuk üzerine geldiğinde koltugu büyüt*/
/*Benim class ım da full içermeyenlerin üzerine gelince büyü*/
.seat:not(.full) :hover {
  transform: scale(1.2);
}

.movieMain {
  margin-top: 15px;
}

#selectMovie {
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #393E46;
}

.seatStatusMain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.emptySeat {
  font-size: 20px;
  color: #00ADB5;
}

.selectedSeat {
  font-size: 20px;
  color: #F8B500;
}

.fullSeat {
  font-size: 20px;
  color: #FC3C3C;
}

.seatStatusMain> .row > div {
    margin-right: 10px;
}

.resultTextMain > p {
    font-family: Arial, Helvetica, sans-serif;
}

.resultTextMain > p> span{
    color: #F8B500;
}

#buyButton {
    width: 80px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 212, 2);
    border: none;
    color: white;
}

#clearButton{
    background-color: white;
    width: 80px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 180, 210);
    color: white;
    border: none;
}

.screen{
    background-color: rgb(232, 232, 232);
    width: 650px;
    height: 200px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #00dde8;
}

.screenTitle{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Koltuk Renkleri*/
.empty{
  color: #00ADB5;
}

.selected{
  color: #F8B500;
}

.full{
  color: #FC3C3C;
}


